DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=psat_db

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USE_TLS=false
SMTP_USE_SSL=true
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_SENDER=PSAT System <your_email@gmail.com>

SECRET_KEY=your_secret_key
