<!-- Footer Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded-top p-4">
        <div class="row">
            <div class="col-12 col-sm-12 text-center text-sm-start">
                &copy; <span>{{ data.current_year }} </span> <a href="#">Phishing Simulation & Awareness Tool</a>, All Right Reserved. 
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-end d-none">
                Designed By <a href="#"></a>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->