{% extends "emails/base_email.html" %} {% block content %}
<h3 style="margin-top: 0; color: #212529">Password Reset Success ✅</h3>

<p style="color: #495057; font-size: 14px; line-height: 1.6">
	Hello {{ name }},
</p>

<p style="color: #495057; font-size: 14px; line-height: 1.6">
    Your password has been successfully reset.
    You can now use your new password to log in.
    <br>
    If you have any questions, feel free to reach out to our support team.
</p>

<p style="color: #6c757d; font-size: 13px">
	Regards,<br />
	PSAT Team
</p>
{% endblock %}
