{% extends "emails/base_email.html" %} {% block content %}
<h3 style="margin-top: 0; color: #212529">Password Reset Email ✅</h3>

<p style="color: #495057; font-size: 14px; line-height: 1.6">
	Hello {{ name }},
</p>

<p style="color: #495057; font-size: 14px; line-height: 1.6">
	We received a request to reset your password. Click the button below to reset it. If you didn't request a password reset, you can safely ignore this email.
    <a href="{{ reset_link }}" style="display: inline-block; padding: 10px 20px; margin-top: 10px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;">Reset Password</a>

    <br>
    <span style="color: #6c757d; font-size: 13px">This link will expire in 1 hour.</span>
    
    <br>
    <span style="color: #6c757d; font-size: 13px">If the button doesn't work, copy and paste the following link into your browser:</span>
    <br>
    <a href="{{ reset_link }}" style="font-size: 13px">{{ reset_link }}</a>
    
    <br>
    <span style="color: #6c757d; font-size: 13px">If you have any issues, please contact our support team.</span>
</p>

<p style="color: #6c757d; font-size: 13px">
	Regards,<br />
	PSAT Team
</p>
{% endblock %}
